/* body {
    background-color: #00001C;
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: 'Noto Sans', sans-serif;
} */

form {
    display: flex;
    align-content: center;
    box-sizing: border-box;
    margin: 30px auto;
    padding: 20px auto;
    width: 500px;
    border-radius: 4px;
    border: 1px solid white;
}

ul {
    list-style: none;
    margin: 16px 0px;
    padding-left: 40px;
}

ul li+li {
    margin-top: 18px;
}

label {
    color: white;
    font-size: 18px;
    font-style: normal;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    font-size: 18px;
    color: white;
    width: 400px;
}


/* input:-webkit-autofill { */

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}


/* background-color: transparent;
    -webkit-text-fill-color: rgb(255, 255, 255);
} */

#time input {
    border: 1px solid white;
    background-color: white;
    width: 70px;
    color: black;
}

#invalid-time {
    box-sizing: border-box;
    float: right;
    height: 20px;
    line-height: 10px;
    font-size: 8px;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.685);
    padding-right: 20px;
    visibility: hidden;
    transition: all 0.5s 0s;
}

#time input:invalid {
    background-color: red;
}

#time input:invalid~#invalid-time {
    visibility: visible;
}

#time input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.308);
}

input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.322);
}

#pace,
#vdot {
    width: min-content;
    font-size: 18px;
    border: none;
}

#pace:focus,
#vdot:focus {
    border: none;
}

#submit {
    margin: 16px auto;
}

select {
    font-size: 18px;
}


/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #00001C;
    height: 100%;
    position: absolute;
    width: 100%;
}

form {

margin: 0 auto;
width: 350px;
left: 50%;





border: 1px solid #CCC;
border-radius: 4px;

}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
form li+li {
    margin-top: 12px;
}
#time input:invalid {
    border-color: red;
}
.input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
   
    
    box-sizing: border-box;
    font-family: 'Arvo';
    font-size: 18px;
    
    
    left: 50%;
    margin: -25px 0 0 -100px;
    padding: 10px 0px;
    position: relative;
    top: 50%;
    width: 300px;
    /* &:focus {
        outline: none;
    } 
}

/* input {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
} 
#time input {
    width: 50px;
}
input:focus {
    border-color: #000;
}
button {
    margin-left: .5em;
} */